<div class="jumbotron">
	<h1>Knowledge Mapping</h1>
	<p class="lead">Deze web-app is bedoeld om kennis te delen:
		meta-knowledge. Kennis over kennis.</p>

</div>

<div class="row marketing">
	<div>
		<h4>Kennisprofielen</h4>
		<p>
			Iedere functie heeft een bepaald 'ideaalprofiel' ofwel specifiek <strong>kennisprofiel</strong>.
			Het doel is om alle kennis en/of competenties uit zo'n kennisprofiel
			te hebben of te beheersen. Deze app maakt het mogelijk om de <strong>eigen
				ontwikkeling</strong> te volgen, maar ook de Ordina-brede ontwikkeling. Blink
			je nog niet uit in een competentie? Hier krijg je snel overzicht bij
			wie je hiervoor kunt aankloppen, of met welke collega's je hiervoor
			een cursus zou kunnen aanvragen.
		</p>
		<p>Een kennisprofiel kan worden toegewezen, omdat deze nu eenmaal
			goed aansluit bij jouw functie. Je kunt ook kennisprofielen aan
			jezelf toewijzen om daarmee aan te geven waar je nog meer in
			uitblinkt, of waar je ambities liggen.</p>

		<h4>Kennis</h4>
		<p>Het begrip kennis wordt hier heel breed genomen. Het gaat om
			wat je weet en wat je kunt. Het kunnen <strong>harde skills</strong> zijn
			(bijvoorbeeld kunnen programmeren), maar ook <strong>zachte skills</strong>
			(bijvoorbeeld empathie hebben).</p>
		<p>Nieuwe kennis kan door iedereen worden voorgesteld. Samen maken we de database van kennis uit. #JeBentWatJeBijdraagt
		</p>
	</div>
</div>