<div class="jumbotron">
	<h1>Persoonlijk Profiel</h1>

	<p class="lead">Beheer hier al je kennis en vaardigheden. Volg en
		bevorder je eigen ontwikkeling in het kennisprofiel wat bij jouw
		functie past. Ontwikkel jezelf in kennisprofielen waar je ambities
		liggen.</p>

</div>

<div class="row marketing">
	<div>
		<h4>Mijn kennisprofielen</h4>
		<ul ng-init="getProfiles()">
			<li ng-repeat="profile in profiles"><a href="./profiel/{{profile.id}}">{{profile.name}}</a></li>
			<li><a href="profiel">Overige competenties</a></li>
		</ul>

		<h4>Toevoegen</h4>
		<ul>
			<li><a href="./toevoegen/competentie">Competentie</a></li>
			<li><a href="./toevoegen/kennisprofiel">Kennisprofiel</a></li>
		</ul>
		
	</div>
</div>