<div class="jumbotron">
	<h1>Persoonlijk Profiel</h1>

	<p class="lead">Beheer hier al je kennis en vaardigheden. Volg en
		bevorder je eigen ontwikkeling in het kennisprofiel wat bij jouw
		functie past. </p>

</div>

<div class="row marketing">
	<div>
		<h4>Mijn kennisprofielen</h4>
		<ul ng-init="getProfiles()">
			<li ng-repeat="profile in profiles"><a href="./profiel/{{profile.id}}">{{profile.name}}</a></li>
		</ul>
		
		<h4>Toevoegen</h4>
		<ul>
			<li><a href="" ng-click="showAddCompetence()">Competentie</a>
				<div ng-show="popAddCompetence">
				<hr></hr>
				<div class = "row form-margin">
					<div class = "form-group">
						<label for = "knownCompetences" class = "col-sm-4 control-label">Bestaande competenties:</label>
							<div class = col-sm-8">
							<select class = "btn btn-warning dropdown-toggle" id = "knownCompetences" ng-model = "selectedCompetence" ng-options = "competence.name for competence in competences" >
							</select><br></div>
							<div class = "row form-margin" align = "center"><br>
							<button class="btn btn-sm btn-warning" ng-click="saveExisting(selectedCompetence)" align = "center">Toevoegen</button>
							<br><br><i>
							Indien de competentie die je wil toevoegen niet in de lijst staat, kun je hier onder zelf een toevoegen!</i>
							</div>
							
					</div>
				</div>
					<hr></hr>
					<div class="row form-margin">
						<div class="form-group">
						    <label for="inputName" class="col-sm-2 control-label">Naam:</label>
						    <div class="col-sm-10">
						      	<input type="text" class="form-control" id="inputName" ng-model="competenceName" placeholder="Naam competentie">
						    </div>
						 </div>
					</div>
					<div class="row form-margin">
						<div class="form-group">
						    <label for="inputDescription" class="col-sm-2 control-label" align="right">Beschrijving:</label>
						    <div class="col-sm-10">
						      	<input type="text" class="form-control" id="inputDescription" ng-model="competenceDescription" placeholder="Beschrijf de competentie" align="left">
						    </div>
						 </div>
					</div>
					<div class="row form-margin">
						<div class="col-sm-12" align="center"><button class="btn btn-sm btn-warning" ng-click="save()">Opslaan</button></div>
					</div>
					<hr></hr>
				</div>
			</li>
			<li><a href="" ng-click="showAddKnowledgeProfile()">Kennisprofiel</a>
				<div ng-show="popAddKnowledgeProfile">
					<hr></hr>
					<div class="row form-margin" ng-init="select(0)">
						<div class="btn-group col-sm-12">
							<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    {{selected}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="profile in allProfiles"><a href="" ng-click="select($index)">{{profile.name}}</a></li>
							    
							</ul>
						</div>
					</div>
					<div class="row form-margin">
						<div class="col-sm-12"><button class="btn btn-sm btn-warning" ng-click="add()">Toevoegen</button></div>
					</div>
					<hr></hr>
				</div>
			</li>
		</ul>
		
	</div>
</div>