<div class="jumbotron">
	<h1>{{profileDetails.name}}</h1>

	<p class="lead">{{profileDetails.description}}</p>
</div>

<div class="row marketing">
	<div>
		<h4>Competenties</h4>
		<div ng-repeat="competence in showCompetences" >
			<div class="frame" title="{{competence.description}}">
				<div class="progress progress-color">
					
					<div class="input-group">
					    <span class="input-group-btn">
					        <button ng-click="decrease(competence.id)" class="btn btn-xs btn-default" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
					    </span>
					    
			  			<div ng-class="getBarClass(competence.level)" role="progressbar" aria-valuenow="{{competence.level}}" aria-valuemin="0" aria-valuemax="100" ng-attr-style="min-width: 0; width: {{competence.level}}%;">
			    			&#160;
			  			</div>
			  			
			  			<span class="input-group-btn">
					        <button ng-click="increase(competence.id)" class="btn btn-xs btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					    </span>
		  			</div>
		  			<div class="title"><span class="title-white">{{competence.name}}: {{competence.level}}%</span></div>
		  		</div>
		  	</div>
	  		
		</div>
		<div align="center"><button class="btn btn-sm btn-warning" ng-click="navigate.back()">Terug</button> <button class="btn btn-sm btn-warning" ng-click="reset()">Herstellen</button> <button ng-class="isDirty()" ng-click="save()">Opslaan</button></div>

	</div>
</div>