<!DOCTYPE html>
<html ng-app="Knowl">
	<head>
		<meta charset="ISO-8859-1">
		<title>Knowledge Mapping</title>
		
		<!-- Bootstrap -->
    	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="stylesheets/mystyle.css">
		
		<base href="http://localhost:8080/knowledge-mapping/" />
		
		
		
	</head>
	
	<body>
		<div class = "container" ng-controller="MainCtrl">
			<div class="header clearfix">
		        <nav ng-controller="NavCtrl">
		          <ul class="nav nav-pills pull-right">
		          	<li role="presentation" ng-class="link0" ng-click="activate(0)"><a href="./">Home</a></li>
		            <li role="presentation" ng-class="link1" ng-click="activate(1)"><a href="./persoonlijk-profiel">Persoonlijk Profiel</a></li>
		            <li role="presentation" ng-class="link2" ng-click="activate(2)" ng-show="$parent.isManager()")><a href="./kennisprofielen"><span ng-bind="managerNavigation" /></a></li>
		            <li class="dropdown">
					  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    	<span ng-bind="$parent.role" />
					    	<span class="caret"></span>
					  	</button>
					  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li ng-click="changeRole('Medewerker'); setManagerMenu()")><a href="#">Medewerker</a></li>
						    <li ng-click="changeRole('Manager'); setManagerMenu()"><a href="#">Manager</a></li>
					  	</ul>
					</li>
		            
		          </ul>
		        </nav>
		        <h3 class="text-muted">Knowledge Mapping</h3>
		    </div>
		      
			<ng-view></ng-view>
	
		    <footer class="footer">
		        <p>&copy; 2016 Fletcher Boys, Inc.</p>
		    </footer>

			
		</div>
		
		<!--  Load scripts -->
		<!-- Use uncompressed for development -->
		<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" ng:autobind></script>
	 	<!-- <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" ng:autobind></script> -->
	 	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
	 	
	 	<!--  Load controllers  -->
	 	<script src = "controllers/routing.js"></script>
	 	<script src = "controllers/main-controller.js"></script>
	 	<script src = "controllers/nav-controller.js"></script>
	 	<script src = "controllers/home-controller.js"></script>
	 	<script src = "controllers/persoonlijk-profiel-controller.js"></script>
	 	<script src = "controllers/kennisprofielen-controller.js"></script>
	 	
    
   	 	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	 	
	</body>
	
</html>